:root {
   --white: hsl(0, 100%, 100%);
   --light-purple: hsl(275, 100%, 97%);
   --purple: hsl(292, 16%, 49%);
   --dark-purple: hsl(292, 42%, 14%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    margin: auto;
    background-color: var(--light-purple);
}

.card {
    background-color:var(--white);
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    width: 30%;
    border-radius: 20px; 
    padding: 35px;
}

.header-image {
    max-width: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.card-header {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 10px 0px;
}

h1 {
    font-size: 3rem;
    color: var(--dark-purple);
    margin-left: 20px;
}

h3 {
    color: var(--dark-purple);
    font-weight: 600;
    font-size: 1rem;
}

.icon-star {
    max-width: 100%;
    width: 20%;
}

.line-break {
    width: 100%;
    opacity: 10%;
}

.faq-item {
    margin: 20px auto;
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
}

.faq-item img {
    max-width: 100%;
    width: 70%
}

button {
    border: none;
    background-color: var(--white);
    display: flex;
    float: right; 
}

.faq-answer {
    display: none;
    color: hsla(292, 42%, 14%, .6);
    font-size: .89rem;
    padding: 20px 0px;
    margin-right: 45px;
    line-height: 20px;
}

.faq-answer.visible {
  display: flex; 
}

h3:active {
    color: hsl(281, 83%, 54%);
}